.book-list {
	display: grid;
	gap: 2rem;
	grid-auto-flow: dense;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	list-style: none;
	margin: 0;
	padding: 0;

	&:has(a:hover) a:not(:hover) {
		opacity: 0.5;
	}
}

.book {
	container: book / inline-size;

	a {
		align-items: flex-start;
		background: var(--color-background-dark);
		border-radius: 0.25rem;
		display: flex;
		font-size: 1.1rem;
		height: 10rem;
		overflow: hidden;
		text-decoration: none;

		&:hover,
		&:focus {
			background: var(--color-background-dark-h);
			transform: scale(1.05);
		}
	}

	picture {
		height: 100%;
	}
}

.book-cover {
	height: 100%;
	vertical-align: bottom;
	width: auto;
}

.book-details {
	display: block;
	padding: 1rem;

	span {
		color: var(--color-foreground-light);
		font-size: 0.8em;
	}
}

@container book (width >= 400px) {
	.book a {
		height: 12rem;
	}
}

@media (width >= 940px) {
	.book-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
