@layer defaults {
	:root {
		--color-background: rgb(255 255 255);
		--color-background-dark: rgb(248 248 248);
		--color-background-dark-h: rgb(240 240 240);
		--color-highlight: rgb(125 125 125);
		--color-foreground: rgb(65 65 65);
		--color-foreground-light: rgb(160 160 160);
		--cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
		--cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
		--font-stack-sans: 'Open Sans', 'Open Sans Fallback', sans-serif;
		--font-stack-serif: 'Arvo', 'Arvo Fallback', serif;
		--max-width: 1440px;
	}

	.autora {
		--color-highlight: rgb(140 195 75);
	}

	.entrevistes {
		--color-highlight: rgb(75 135 195);
	}

	.llibres {
		--color-highlight: rgb(235 175 45);
	}

	.articles {
		--color-highlight: rgb(195 75 130);
	}

	.videos {
		--color-highlight: rgb(75 185 195);
	}
}
