.article-title {
	color: var(--color-foreground);
	font-size: 2em;
	font-weight: 700;
	line-height: 1.5;
}

.article-meta {
	color: var(--color-foreground-light);
	font-size: 0.8em;
	font-weight: 600;
	margin: 0;

	& + & {
		margin-top: 0.5em;
	}
}

.article-list {
	list-style: none;
	margin: 0;
	padding: 0;

	h3 {
		margin-top: 0;
	}

	li:not(:first-child) {
		margin-top: 2.5rem;
	}
}

@media (width >= 600px) {
	.article-title {
		font-size: 1.5rem;
	}
}

@media (width >= 760px) {
	.article-title {
		font-size: 1.75rem;
	}
}

@media (width >= 850px) {
	.article-title {
		font-size: 2rem;
	}
}
