:root {
	--color-background: rgb(255 255 255);
	--color-background-dark: rgb(248 248 248);
	--color-background-dark-h: rgb(240 240 240);
	--color-highlight: rgb(65 65 65);
	--color-text: rgb(65 65 65);
	--color-text-light: rgb(160 160 160);
	--cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
	--cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
	--font-stack-sans: 'Open Sans', 'Open Sans Fallback', sans-serif;
	--font-stack-serif: 'Arvo', 'Arvo Fallback', serif;
	--max-width: 1440px;
}

.autora {
	--color-highlight: rgb(140 195 75);
}

.entrevistes {
	--color-highlight: rgb(75 135 195);
}

.llibres {
	--color-highlight: rgb(235 175 45);
}

.articles {
	--color-highlight: rgb(195 75 130);
}

.videos {
	--color-highlight: rgb(75 185 195);
}

html {
	box-sizing: border-box;
	font-size: calc(0.75em + 0.5vw);
	scroll-behavior: smooth;
	text-size-adjust: none;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-stack-sans);
	font-weight: 400;
	margin: 0;
	padding: 1.5rem;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1,
h3 {
	font-family: var(--font-stack-serif);
	font-weight: 700;
}

h1 {
	font-size: 2.75rem;
	font-weight: 700;
	line-height: 1;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3 {
	color: var(--color-text-light);
	font-size: 1.5rem;
	line-height: 1.4;
}

h1,
a,
.color {
	color: var(--color-highlight);
}

a {
	transition: color 256ms var(--cubic-bezier-ease-out);
}

h2 a {
	color: var(--color-text);
}

h3 a {
	color: var(--color-text-light);
}

a:hover,
a:focus {
	color: #000;
	transition-timing-function: var(--cubic-bezier-ease-in);
}

a:focus {
	outline: thin dotted;
}

p {
	line-height: 1.4;
	font-size: 1rem;
	margin: 0;
}

ul,
ol {
	li::marker {
		color: var(--color-highlight);
	}
}

small {
	font-size: 0.8rem;
}

blockquote,
q {
	quotes: '«' '»' '“' '”' '‘' '’';
}

blockquote::before,
q::before {
	content: open-quote;
}

blockquote::after,
q::after {
	content: close-quote;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

hr {
	background-color: var(--color-highlight);
	border: 0;
	border-radius: 0.25rem;
	height: 0.25rem;
	margin: 3rem 10%;
	padding: 0;
	width: 80%;
}

::selection {
	background-color: var(--color-highlight);
	color: var(--color-background);
	text-shadow: none;
}

@media (width >= 600px) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.25rem;
	}
}

@media (width >= 760px) {
	h1 {
		font-size: 2.25rem;
	}

	h2 {
		font-size: 1.75rem;
	}
}

@media (width >= 850px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}
}

@media (width >= 940px) {
	h1 {
		font-size: 2.75rem;
	}
}

@media (width >= 1000px) {
	html {
		font-size: 1.0625em;
	}
}
