.interview {
	:global(.interviewer) {
		border-left: 0.25rem solid var(--color-highlight);
		font-family: var(--font-stack-serif);
		padding-left: 0.5rem;
	}
}

.interview-title {
	color: var(--color-foreground);
	font-family: var(--font-stack-sans);
	font-size: 2em;
	font-weight: 600;
	line-height: 1.5;
	margin-top: 0.5em;
}

.interview-date {
	color: var(--color-foreground-light);
	font-family: var(--font-stack-serif);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1.3;
}
