.title {
	color: var(--color-foreground);
	font-size: 2em;
	font-weight: 700;
	line-height: 1.5;
}

.meta {
	color: var(--color-foreground-light);
	font-size: 0.8em;
	font-weight: 600;
	margin: 0.5em 0 0;
}

@media (width >= 600px) {
	.title {
		font-size: 1.5rem;
	}
}

@media (width >= 760px) {
	.title {
		font-size: 1.75rem;
	}
}

@media (width >= 850px) {
	.title {
		font-size: 2rem;
	}
}
