---
import styles from './link-list.module.scss'

interface Props {
	items: {
		url: string
		name: string
	}[]
}

const { items } = Astro.props
---

<ul class={styles['link-list']}>
	{
		items.map((item) => (
			<li>
				<a href={item.url}>{item.name}</a>
			</li>
		))
	}
</ul>
