---
import styles from './site-footer.module.scss'

const year = new Date().getFullYear()
---

<footer class={styles.footer}>
	<p>
		<small
			>© Carme Miquel, 2009&ndash;{year}. <a href="/politica-de-privadesa/"
				>Política de privadesa</a
			></small
		>
	</p>
	<p>
		<small
			>Disseny Web: <a href="https://www.guillemandreu.com" target="_blank"
				>Guillem Andreu</a
			></small
		>
	</p>
</footer>
