---
import styles from '../styles/components/video-embed.module.scss'

interface Props {
	aspectRatio: '16:9' | '4:3'
	id: string
	platform: 'vimeo' | 'youtube' | 'youtube-list'
	title: string
}

const { aspectRatio, id, platform, title } = Astro.props

const getIframeUrl = function (
	platform: Props['platform'],
	id: Props['id'],
): string {
	if (id === undefined) {
		throw new Error('id is required')
	}

	if (id === null || id === '') {
		throw new Error('id can’t be null or empty')
	}

	if (platform === undefined) {
		throw new Error('platform is required')
	}

	switch (platform) {
		case 'vimeo':
			return `https://player.vimeo.com/video/${id}`
		case 'youtube':
			return `https://www.youtube-nocookie.com/embed/${id}`
		case 'youtube-list':
			return `https://www.youtube-nocookie.com/embed/videoseries?list=${id}`
		default:
			throw new Error('invalid platform value')
	}
}
---

<div
	class:list={[
		styles.video,
		styles[`aspect-ratio-${aspectRatio.replace(':', '-')}`],
	]}
>
	<iframe
		allow="encrypted-media; fullscreen; gyroscope; picture-in-picture"
		src={getIframeUrl(platform, id)}
		title={`Video: ${title}`}
	>
	</iframe>
</div>
