---
import { getCollection } from 'astro:content'

import BaseLayout from './layout.astro'
import LinkList from '../components/link-list.astro'
import { getPathFor } from '../helpers/get-path-for'

const audiences = await getCollection('book-audience')
const audiencesList = audiences
	.sort((a, b) => a.data.order - b.data.order)
	.map((audience) => ({
		name: audience.data.name,
		url: getPathFor('book-audience', audience.id),
	}))

const {
	frontmatter: { title, meta, audiencesTitle },
} = Astro.props
---

<BaseLayout color="llibres" title={title} meta={meta}>
	<h2>{audiencesTitle}</h2>
	<LinkList items={audiencesList} />
	<hr />
	<slot />
</BaseLayout>
